<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>Портфолио</title>
    <style>
      body {
        background: #4b0082;
        color: white;
        text-align: center;
        padding: 50px;
      }
      h1 {
        color: #56e56e;
      }
      a {
        color: #569cd6;
        font-size: 18px;
        margin: 0 10px;
      }
      img {
        border-radius: 5px;
        margin: 20px 0;
        max-width: 100%;
      }
    </style>
  </head>
  <body>
    <h1>Hello world!</h1>
    <p>Лабораторная работа №9</p>
    <img src="/img/Who.jpg" />
    <p>
      <a href="/draws/">Посмотреть мои проекты</a>
    </p>
  </body>
</html>
